
@font-face {
  font-family: 'C64Pro';
  src: url('https://www.pezzaliapp.com/font/C64_Pro_Mono-STYLE.woff2') format('woff2');
}
body {
  font-family: 'C64Pro', monospace;
  background-color: black;
  color: #00FF00;
  margin: 0;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000;
  color: #0f0;
}
th, td {
  border: 1px solid #0f0;
  padding: 0.5rem;
}
input, button {
  font-family: 'C64Pro', monospace;
  background-color: black;
  color: #00FF00;
  border: 1px solid #00FF00;
  padding: 0.3rem;
}
h1, h2, h3 {
  color: #00FF00;
}
